In [162]:
import pandas as pd
import math

In [163]:
SEPARATHOR = ','
FILE_PATH = './tests_results_local.csv'

In [164]:
df = pd.read_csv(FILE_PATH, sep=SEPARATHOR, header=None)
df.columns = ['alg','number','ans','corr_ans','times']

In [165]:
sums = []
for time in df["times"]:
    s = [float(t) for t in time[1:-1].replace(" ", "").split(",")]
    # print(time[1:-1].replace(" ", "").split(","), math.fsum(s))
    sums.append(math.fsum(s))
df["stimes"] = sums

In [166]:
is_corres = []
for corr_ans, abs in zip(df['corr_ans'], df['ans']):
    # print(corr_ans[1:-1].replace(" ", "").split(","), abs[1:-1].replace(" ", "").split(","), set(corr_ans[1:-1].replace(" ", "").split(","))== set(abs[1:-1].replace(" ", "").split(",")))
    is_corres.append(set(corr_ans[1:-1].replace(" ", "").split(","))== set(abs[1:-1].replace(" ", "").split(",")))
df["is_corr"] = is_corres

In [167]:
df['not_corr'] = df['is_corr']

In [168]:
data_aggregated = df.groupby(by=["alg"], as_index=False).agg({'stimes': 'mean',
                                                    'is_corr': 'sum',
                                                    'not_corr': 'count'})
data_aggregated.columns = ['alg', 'avg_time',"correct ans", "all ans"]
data_aggregated['accuracy'] = data_aggregated['correct ans']/data_aggregated['all ans'] * 100

In [169]:
data_aggregated

            alg     avg_time  correct ans  all ans  accuracy
0    cirQ_naive     0.054409          110      110     100.0
1  cirQ_quantum  2927.980636          110      110     100.0
2        qiskit   463.808100          110      110     100.0

In [171]:
data_aggregated2 = df.groupby(by=["alg","number"], as_index=False).agg({'stimes': 'mean',
                                                    'is_corr': 'sum',
                                                    'not_corr': 'count'})
data_aggregated2.columns = ['alg','number','avg_time',"correct ans", "all ans"]
data_aggregated2['accuracy'] = data_aggregated2['correct ans']/data_aggregated2['all ans'] * 100

In [172]:
data_aggregated2

             alg  number    avg_time  correct ans  all ans  accuracy
0     cirQ_naive       6      0.0000           10       10     100.0
1     cirQ_naive       8      0.0000           10       10     100.0
2     cirQ_naive       9      0.0000           10       10     100.0
3     cirQ_naive      12      0.0000           10       10     100.0
4     cirQ_naive      13      0.0000           10       10     100.0
5     cirQ_naive      15      0.1995           10       10     100.0
6     cirQ_naive      18      0.0997           10       10     100.0
7     cirQ_naive      20      0.0000           10       10     100.0
8     cirQ_naive      21      0.0000           10       10     100.0
9     cirQ_naive      25      0.0000           10       10     100.0
10    cirQ_naive      30      0.2993           10       10     100.0
11  cirQ_quantum       6      0.0000           10       10     100.0
12  cirQ_quantum       8      0.0000           10       10     100.0
13  cirQ_quantum       9      0.0000           10       10     100.0
14  cirQ_quantum      12      0.0996           10       10     100.0
15  cirQ_quantum      13      0.0997           10       10     100.0
16  cirQ_quantum      15   1473.9976           10       10     100.0
17  cirQ_quantum      18      0.0000           10       10     100.0
18  cirQ_quantum      20      0.0000           10       10     100.0
19  cirQ_quantum      21  29868.0233           10       10     100.0
20  cirQ_quantum      25      0.0000           10       10     100.0
21  cirQ_quantum      30    865.5668           10       10     100.0
22        qiskit       6      0.0000           10       10     100.0
23        qiskit       8      0.0000           10       10     100.0
24        qiskit       9    716.3219           10       10     100.0
25        qiskit      12      0.0000           10       10     100.0
26        qiskit      13      0.0000           10       10     100.0
27        qiskit      15    789.3233           10       10     100.0
28        qiskit      18    721.6285           10       10     100.0
29        qiskit      20      0.0000           10       10     100.0
30        qiskit      21    988.1656           10       10     100.0
31        qiskit      25   1107.3533           10       10     100.0
32        qiskit      30    779.0965           10       10     100.0

In [173]:
df.loc[df["is_corr"]==False]

Empty DataFrame
Columns: [alg, number, ans, corr_ans, times, stimes, is_corr, not_corr]
Index: []